<div class="custom-div-parent">
    <div class="custom-div-child-1 border border-black"></div>    
    <div class="card-container border border-black p-4 bg-white rounded-3xl relative">
        <img class="custom-height w-full object-cover cursor-pointer hover-image" src="{{ img | img_url: '450x450' }}" alt="{{ text }}">
        <div class="mt-2 custom-text">
            <div class="text-left text-4xl text-black font-black franxurter">{{ text }}</div>
            <div class="text-left text-2xl font-semibold montserrat ">{{ price | money_with_currency }}</div>
        </div>
        {% if howitworks %}
            <div class="mt-12 franxurter">
                {% include 'custom-add-cart-button', url: '/your-order-page-url', text: 'ADD TO CART' %}
            </div>
        {% endif %}

    </div>
</div>

<style>
.custom-div-parent {
    position: relative;
    z-index: 1;
}

.custom-div-child-1 {
    position: absolute;
    top: 5px;
    right: -5px; 
    width: 100%; 
    height: 100%;
    z-index: -1;
    background-color: rgb(196, 60, 114);
    border-radius: 20px;
}

.custom-height {
    height: 40rem;
}

.custom-text {
    height: 6rem;
}

.card-container {
    transition: transform 0.3s ease-in-out;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-container {
    opacity: 0; /* Initially hidden */
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card-container.visible {
    opacity: 1;
    transform: translateY(0);
    animation: fadeIn 0.5s ease-in-out;
}


</style>

<script>
document.querySelectorAll('.hover-image').forEach(function(hoverImage) {
    const cardContainer = hoverImage.closest('.card-container');
    hoverImage.addEventListener('mouseenter', function() {
        cardContainer.style.transform = 'rotate(2deg) translateY(-10px)';
    });
    hoverImage.addEventListener('mouseleave', function() {
        cardContainer.style.transform = '';
    });
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const cards = document.querySelectorAll('.card-container');

    const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible'); // Add the visible class
                    observer.unobserve(entry.target); // Stop observing once visible
                }
            });
        },
        { threshold: 0.1 } // Trigger when 10% of the card is visible
    );

    cards.forEach((card) => observer.observe(card));
});
</script>

