<div class="flex flex-col rounded-full">
    <a href="{{ url }}" class="flex text-4xl justify-center rounded-3xl bg-yellow-200 px-10 lg:px-18 py-2 font-extrabold	">
        {{ text }}
    </a>
</div>


