<div class="parent-div ">
    <div class="background-div">.</div>
    <a href="{{ url }}" class="text-{{ textSize }}xl franxurter font-thin button-link">
        {{ text }}
    </a>
</div>

<style>
.parent-div {
    position: relative;
    display: inline-block;
}

.background-div {
    position: absolute;
    top: 5px; 
    bottom: -5px; 
    left: 12px; 
    background-color: yellow;
    border-radius: 10px; 
    z-index: 0;
    border: 2px solid black;
    width: 97%;
}

.button-link {
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px; 
    color: rgb(225, 69, 135); 
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    z-index: 1;
    
    transition: background-color 0.3s, background-color 1s;
}

.button-link:hover {
    background-color: rgb(255, 255, 186);
    right: -5px; 
    bottom: -5px; 
}

</style>

{% comment %} <script>
document.querySelectorAll('.button-link').forEach(function(button) {
    button.addEventListener('click', function() {
        button.style.transform = 'scale(0.95)';
        setTimeout(function() {
            button.style.transform = '';
        }, 150);
    });
});
</script> {% endcomment %}
