<div class="relative bg-cover bg-center h-full" style="background-image: url('{{ 'header.jpg' | asset_url }}'); height: 80vh;">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative flex flex-col items-center justify-center h-full text-white">
    <h2 class="hero-text text-9xl font-semibold  text-pink-500 transform   -rotate-12 text-left">
      <span class="font-thin franxurter ">Filled Like...</span> <br> THAT?
    </h2>
    <div class="relative  z-10 mt-4 ">
      {% include 'custom-button', url: '/your-order-page-url', text: 'SHOP NOW', textSize:'6' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Banner",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
<style>
.hero-text{
  margin-bottom: 15rem;
  margin-right: 8%;
}
</style>