<div class="pb-20 relative bg-cover bg-center h-full" style="background-image: url('{{ 'header.jpg' | asset_url }}'); height: 80vh;">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative flex flex-col items-center justify-end h-full text-white ">
    
    <div class="relative mt-4 "style="z-index:2;">
      {% include 'custom-button', url: '/your-order-page-url', text: 'SHOP NOW', textSize:'4' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Banner",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
<style>
.hero-text{
  margin-bottom: 15rem;
  margin-right: 8%;
}
</style>